@import url("~@rc-component/input/assets/index.less");
@import url("../../css/variable.less");

// ========== rc-input ==========
.g-input.rc-input {
    display: inline-block;
    width: 100%;
    min-height: @ant-control-height;
    padding: 4px 11px;
    font-size: @ant-font-size;
    line-height: @ant-line-height;
    color: @ant-text;
    background-color: @ant-bg;
    border: 1px solid @ant-border;
    border-radius: @ant-radius;
    transition:
        border-color 0.2s,
        box-shadow 0.2s;

    &:hover {
        border-color: @primary-hover;
    }

    &:focus {
        border-color: @primary;
        box-shadow: 0 0 0 2px rgb(5 145 255 / 10%);
        outline: 0;
    }

    &::placeholder {
        color: rgb(0 0 0 / 25%);
    }

    &-disabled,
    &[disabled] {
        color: @ant-text-secondary;
        background: @ant-bg-layout;
        cursor: not-allowed;

        &:hover {
            border-color: @ant-border;
        }
    }
}

.g-input.rc-input-affix-wrapper {
    display: inline-flex;
    align-items: center;
    width: 100%;
    min-height: @ant-control-height;
    padding: 0 11px;
    font-size: @ant-font-size;
    color: @ant-text;
    background-color: @ant-bg;
    border: 1px solid @ant-border;
    border-radius: @ant-radius;
    transition:
        border-color 0.2s,
        box-shadow 0.2s;

    &:hover:not(.rc-input-affix-wrapper-disabled) {
        border-color: @primary-hover;
    }

    &-focused,
    &:focus-within {
        border-color: @primary;
        box-shadow: 0 0 0 2px rgb(5 145 255 / 10%);
        outline: 0;
    }

    &-disabled {
        color: @ant-text-secondary;
        background: @ant-bg-layout;
        cursor: not-allowed;
    }

    input {
        padding: 4px 0;
        border: none;
        outline: none;
        background: transparent;
        font-size: inherit;
        color: inherit;

        &::placeholder {
            color: rgb(0 0 0 / 25%);
        }
    }

    .rc-input-prefix {
        margin-right: 4px;
    }

    .rc-input-suffix {
        margin-left: 4px;
    }
}

.g-input.rc-input-clear-icon {
    color: @ant-text-secondary;
    font-size: 12px;
    cursor: pointer;

    &:hover {
        color: @ant-text;
    }
}

.g-input-textarea:disabled,
.g-input-textarea[disabled] {
    color: rgb(0 0 0 / 25%);
    background: @ant-bg-layout;
    cursor: not-allowed;

    &:hover {
        border-color: @ant-border;
    }
}
