.g-slider {
    display: flex;
    flex: 1;

    > .ant-slider {
        flex: 1;
    }

    > .decrease-button,
    > .increase-button {
        width: 18px;
        height: 18px;
        line-height: 18px;
        min-width: 18px;
        margin-top: 7px;
        padding: 0;
        display: inline-block;

        > span {
            display: inline-block;
            transform: scaleY(1.6) scaleX(0.6) translateY(-2px);
            font-weight: 300;
        }
    }

    > .decrease-button {
        margin-right: 5px;
    }

    > .increase-button {
        margin-left: 5px;
    }
}
