.g-number-input {
    user-select: none;

    .rc-input,
    .rc-input-affix-wrapper,
    input {
        width: 90px;
    }

    .g-button {
        flex: 0 0 auto;
        padding: 0;
        width: 32px;
    }

    &.no-border,
    &.outlined {
        .rc-input input,
        input {
            text-align: center;
        }
    }
}
