.g-number-input {
    user-select: none;

    .ant-input {
        width: 90px;
    }

    .ant-btn {
        flex: 0 0 auto;
        padding: 0;
        width: 32px;
    }

    &.no-border,
    &.outlined {
        .ant-input {
            text-align: center;
        }
    }
}
