.g-cascader {
    .prefixed-placeholder-wrapper,
    .prefixed-label-wrapper {
        display: flex;
        align-items: center;

        :first-child {
            margin-right: 4px;
        }
    }
}

.rc-cascader-dropdown,
.g-cascader-popup {
    .rc-cascader-menu {
        height: auto;
        max-height: 300px;
    }
}
