.g-cascader {
    .ant-cascader-menus {
        background: transparent;
        box-shadow: none;

        .ant-cascader-menu {
            height: auto;
            max-height: 500px;
            border: 1px solid #d7d7d7;
            background: #fff;
        }
    }

    &-label {
        display: flex;
        align-items: center;
        &.null-value {
            color: #bfbfbf;
        }
    }
    &-prefix {
        margin-right: 4px;
    }
}
