# IDE
.idea/**
.vscode/**

# Artifacts
**/build/**
**/dist/**
!/packages/eslint-plugin/dist/**

# Dependencies
**/node_modules/**

# Coverage Reports
**/coverage/**

# Cache
.parcel-cache/**

# Temp
/tmp/**

# Misc
**/.DS_Store
**/*.iml
**/yarn-error.log

# VS Code
!.vscode/extensions.json
