# IDE
.idea/**
.vscode/**

# Artifacts
**/build/**
**/dist/**
**/lib/**
!/packages/eslint-plugin/dist/**

# Dependencies
**/node_modules/**

# Yarn v2 Non Zero Install Configuration
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# Coverage Reports
**/coverage/**

# Cache
.parcel-cache/**
**/.webpack-cache/**

# Temp
**/tmp/**

# Misc
**/.DS_Store
**/*.iml
**/yarn-error.log
**/pnpm-debug.log

# VS Code
!.vscode/extensions.json
!.vscode/launch.json

# Worktrees
.worktrees/**

# swc plugins
**/.swc/**
