#flat-list-demo {
    display: flex;
    flex-flow: column;
    height: 100%;

    .list {
        .item {
            padding: 10px;
            border-radius: 10px;
            overflow-wrap: break-word;
            background-color: lightcoral;

            &.expand {
                background: lightpink;
            }
        }
    }
}
