#flat-list-demo {
    display: flex;
    flex-flow: column;
    height: 100%;

    .list {
        .g-flat-list-item-wrapper {
            transition: all 300ms ease-in-out;
        }

        .item {
            transition: all 300ms ease-in-out;
            padding: 10px;
            border-radius: 10px;
            overflow-wrap: break-word;
            background-color: lightcoral;

            &.expand {
                background: lightpink;
            }
        }
    }
}
