* {
    margin: 0;
}

html {
    height: calc(100% + env(safe-area-inset-top));
}

body {
    height: 100%;
    background-color: #000;
}

#root {
    height: 100%;
}

.g-stack-router-screen {
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

.box {
    width: 100%;
    height: 300px;
    margin-bottom: 30px;
    background-color: yellowgreen;
}
