.g-modal-prompt-body {
    > .g-form {
        padding: 0;

        .g-form-item-label {
            display: none;
        }

        .g-form-item-children {
            width: 100%;
            max-width: initial;

            > .ant-input {
                width: 100%;
            }
        }
    }
}
