* {
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

#app-root {
    height: 100%;
}

.main-container {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.item {
    background: yellowgreen;
    border-bottom: 1px solid red;
    overflow-wrap: break-word;

    &.expand {
        background: lightcoral;
    }
}

.row-renderer {
    transition: all 300ms ease-in-out;
}
