* {
    margin: 0;
    box-sizing: border-box;
}

.item {
    background: yellowgreen;
    border-bottom: 1px solid red;
    overflow-wrap: break-word;

    &.expand {
        background: lightcoral;
    }
}

.row-renderer {
    transition: all 300ms ease-in-out;
}
