@import url("../../css/variable.less");

.g-modal {
    color: inherit;

    .rc-dialog-header {
        background: @ant-bg-container;
        padding: 16px 24px;
        font-weight: 600;
        font-size: 16px;
    }

    .rc-dialog-close {
        color: @ant-text-secondary;
        position: absolute;
        top: 17px;
        right: 17px;
        cursor: pointer;

        &:hover {
            color: @ant-text;
        }
    }

    .rc-dialog-content {
        padding: 0;
    }

    .rc-dialog-body {
        > .g-spin-container {
            padding: 24px;
        }
    }

    .rc-dialog-footer {
        margin-top: 0;
        padding: 10px 16px;
    }

    &.no-padding {
        .rc-dialog-body > .g-spin-container {
            padding: 0;
        }
    }

    &.no-footer {
        .rc-dialog-footer {
            display: none;
        }
    }
}
