@import "../../css/variable.less";

.ant-modal-confirm {
    .ant-modal-body {
        padding: 0 !important;

        .ant-modal-confirm-title {
            background: @lib-background-gray;
            padding: 12px 20px;

            > span {
                font-weight: bold;
                font-size: 20px;
            }

            > .anticon-close {
                color: #666;
                position: absolute;
                right: 10px;
                top: 16px;
                cursor: pointer;

                &:hover {
                    color: #000;
                }
            }
        }

        .ant-modal-confirm-content {
            margin: 0 !important;
            padding: 18px 20px;

            > .footer {
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        .ant-modal-confirm-btns {
            margin: 0 auto 20px;
            text-align: center;
            float: none;

            .ant-btn {
                min-width: 120px;
                border-radius: 2px;
                cursor: pointer;
                padding: 0;
                font-size: 14px;
                line-height: 30px;
                height: 32px;
                outline: none;
                background-color: transparent;
                border: 1px solid @lib-main-blue;
                color: @lib-main-blue;

                &:hover {
                    opacity: 0.82;
                }

                &:last-child {
                    background: @lib-main-blue;
                    color: #fff;
                    border: 1px solid @lib-main-blue;
                }
            }
        }
    }

    &.hide-modal-btns {
        .ant-modal-confirm-btns {
            display: none;
        }
    }

    &.no-padding {
        .ant-modal-confirm-content {
            padding: 0;
        }
    }
}
