.g-descriptions {
    .g-descriptions-item-label,
    th {
        width: 120px;
    }

    .g-descriptions-item-content,
    td {
        position: relative;
    }
}

.g-descriptions-title,
.g-descriptions > div:first-child {
    margin-bottom: 12px;
}
