.g-tabs,
.rc-tabs {
    .rc-tabs-nav-list {
        > .rc-tabs-tab {
            display: flex;
            justify-content: center;

            > .rc-tabs-tab-btn {
                display: flex;
                justify-content: center;
            }
        }
    }
}
