.g-flat-list-wrapper {
    flex: 1 0 auto;
    position: relative;
    display: flex;
    flex-flow: column;
    will-change: contents;

    .inner-container {
        flex: 1 0 auto;
        transition: all 300ms cubic-bezier(0, 0.61, 0.28, 1.22);
    }

    .g-flat-list-loading {
        position: absolute;
        left: 0;
        z-index: 2;
        width: 100%;
        padding: 8px;
        // min-height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateY(-100%);

        > div {
            position: relative;

            .ant-spin {
                position: absolute;
                left: 0;
                transform: translateX(-150%);

                .anticon.ant-spin-dot {
                    font-size: 14px;
                }
            }
        }
    }
}
