.ant-tabs {
    color: inherit;

    .ant-tabs-tab {
        margin: 0;
        padding: 12px;
    }

    &.with-max-visible-tab-count {
        .ant-tabs-nav-operations {
            display: none;
        }
    }
}
